button {
  width: 200px; /* 好きなサイズに変更 */
  height: 60px; /* 好きなサイズに変更 */
  /* その他のスタイル */
  font-size: 16px; /* テキストのサイズ */
}

/* ○○についてしつもん！のボタン */
#questionButton > button {
  width: 500px; /* 好きなサイズに変更 */
  height: 150px; /* 好きなサイズに変更 */
  /* その他のスタイル */
  font-size: 30px; /* テキストのサイズ */
}